.timer {
    position: relative;
    width: 200px;
    height: 200px;
    border: aliceblue 5px solid;
    border-radius: 50%;
    display: flex;
    font-size: 2em;
    color: white;
}
.btn-container {
    margin-top: 20px;
}